/* TODO: setup a nice google font and rounded buttons */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

QPushButton {
    background-color: #a8a8a8;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    font-family: "Sora";
}

QPushButton:hover {
    background-color: #969696;
}

QLabel {
    font-size: 20px;
    font-family: 'Sora';
}

QComboBox {
    background-color: #a8a8a8;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Sora';
}

QComboBox:hover, QComboBox::drop-down:hover {
    background-color: #969696;
}

QComboBox::drop-down{
    background-color: #a8a8a8;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

QComboBox QAbstractItemView {
    border-radius: 2px;
    color: white;
    background-color: #C1C1C1;
    selection-background-color: lightgray;
    font-family: 'Sora';
}

/*QComboBox::down-arrow {*/
/*    image: url(arrow_down.png);*/
/*    width: 7px;*/
/*    height: 7px;*/
/*}*/

QTableWidget {
    font-family: 'Sora';
    background-color: #eeeeee;
    border-radius: 10px;
    selection-background-color: #b7b7b7;
}

QHeaderView::section {
    background-color: white;
    border: 0px;
    /*font-family: 'Sora';*/
}

QRadioButton {
    font-family: 'Sora';
}

QSpinBox{
    font-family: 'Sora';
    background-color: #a8a8a8;
    color: white;
    border-radius: 5px;
}

QSpinBox::down-button, QSpinBox::up-button{
    background-color: #a8a8a8;
    border-radius: 5px;
}


QSpinBox::up-button:hover, QSpinBox::down-button:hover {
    background-color: #969696;
    border-radius: 5px;
}

QSpinBox::up-arrow {
    image: url(arrow_down.png);
}

QMainWindow {
    background-color: white;
}